/*!
 * netention.css v1.5
 * Discombobulated by @rezn8d
 */

.focusMap {
    width: 98%;
    height: 18em;
}

.TypePropertyButtons {
	padding-left: 0.25em;	
	padding-top: 0.15em;
	padding-bottom: 0.25em;
}
.TypePropertyButtons button {
	font-size: 60%;
	padding: 0.25em;
}

.PropertyArea {
	margin-left: 2em;
	font-size: 75%;	
	z-index:2;
}

.DataViewMenu {
	background-color: black;
	margin-bottom: 0.25em;
	height: 35px;
	z-index:2;
}
.TypesMenuButtons {
	height: 35px;
	background: black;
}
.PropertyEdit {
	margin-bottom: 0.25em;
}
.PropertyEdit textarea {
	width: 100%;
}
.AvatarIcon {
	padding: 5px;	
	float: left;
}
.AvatarIcon img {
	height: 2em;
}
.DataSubViewMenu {
	margin-left: 2em;
	float: right;
	color: white;
}
.ContentScroll {
	overflow: auto;	
}
#teamContent {
    width: 100%;
    overflow: none;
    height: 95%;
}

.DataViewFilter {
	background: transparent;
	color: white;	
}
div.olMapViewport {
     z-index: 1;
}


#CurrentInterests {
    clear: both;
}
#InterestsBar {
    clear: both;
}

.InterestItem {
    margin-bottom: 0.3em;
    
    padding: 0.2em;
    border-right: 5px solid rgba(125,25,0,0.5);
	padding-bottom: 1.0em;	

/*
   -webkit-transition:border-color 2.618s ease-in;  
   -moz-transition:border-color 2.618s ease-in;  
   -o-transition:border-color 2.618s ease-in;*/  

	-webkit-transition:background-color 0.618s ease-in;  
   -moz-transition:background-color 0.618s ease-in;  
   -o-transition:background-color 0.618s ease-in;  

}
.interestSelected {
	border-color: rgba(255, 0, 0, 0.75);	
   -webkit-transition:border-color 0.618s ease-in;  
   -moz-transition:border-color 0.618s ease-in;  
   -o-transition:border-color 0.618s ease-in;  
}

/* http://www.quackit.com/css/css_color_codes.cfm */
.interestItem25 {
    background-color: rgba(235,235,235,0.8);
    background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,0.8) 0%, rgba(235,235,235,0.8) 100%);
    border-right: 5px solid #000;
    font-size: 96%;
    vertical-align: top;
   -webkit-transition:border-color 2.618s linear;  
   -moz-transition:border-color 1.618s linear;  
   -o-transition:border-color 1.618s linear; 
   color: #333;  

}
.interestItem50 {
    background-color: rgba(235,235,235,0.8);
    background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,0.8) 0%, rgba(235,235,235,0.8) 100%);
    border-right: 5px solid #463544;
    font-size: 110%;
    vertical-align: top;
   -webkit-transition:border-color 2.618s linear;  
   -moz-transition:border-color 1.618s linear;  
   -o-transition:border-color 1.618s linear;  
   color: #222;  
}
.interestItem75 {
    background-color: rgba(235,235,235,0.8);
    background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,0.8) 0%, rgba(235,235,235,0.8) 100%);
    border-right: 5px solid #5B468D;
    font-size: 140%;
    vertical-align: top;
   -webkit-transition:border-color 2.618s linear;  
   -moz-transition:border-color 1.618s linear;  
   -o-transition:border-color 1.618s linear;  
   color: #111;  
}
.interestItem100 {
    background-color: rgba(235,235,235,0.8);
    background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,0.8) 0%, rgba(235,235,235,0.8) 100%);
    border-right: 5px solid #358DD4;
    font-size: 180%;
    vertical-align: top;
   -webkit-transition:border-color 2.618s linear;  
   -moz-transition:border-color 2.618s linear;  
   -o-transition:border-color 2.618s linear;
   color: #000;  
}

.SelfBarSection {
	padding: 0.5em;
}

#Profile {
    clear:both;
}

.ImportanceButtons {
	float: right;
	position: relative;
	top:0;
}

.ImportanceButtons button {
	padding: 2px;
	margin: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-width: 2px;
	height: 20px;
}


.nameInput {
	width: 98%;
	font-size: 150%;
}
.idLabel {
    font-size: 70%;
    opacity: 0.7;
    line-height: 70%;
}

		.valueInput {
			width: 95%;
			font-size: 125%;
			margin-bottom: 0.4em;
		}
		
		.updateButton {
			font-weight: bold;
		}
		
		.eBottom {
			border-top: 1px solid gray;
			clear: both;
			float: right;
			width: 100%;
			text-align: right;
		}
		.typeCollapsible {
			margin-left: 1em;
		}
		.typeMenu {
			float: left;
			width: 32%;
		}
		.valueArea {
			overflow: auto;
			width: 63%;
			float: right;
			margin-top: 0.5em;
		}

.PropertyEdit input[type="checkbox"] {
}

.ReplyWidget textarea {
    width: 98%;
    height: 5em;
}

.tagSection {
    width: 100%;
    margin-bottom: 1.5em;
}

.tagDescription {
    width: 95%;
    height: 5em;
}

.tagLabel {
    float: left;
    font-weight: bold;
    font-size: 125%;
}
.tagLabel img { /* may not be necessary anymore since adding .TagButtonIcon */
    height: 1em;
    margin-right: 0.25em;
}
.TagButtonIcon {
    height: 1em;
    margin-right: 0.25em;    
}

.tag25 { opacity: 0.7; font-size: 70%  }
.tag50 { opacity: 0.8; font-size: 80%  }
.tag75 { opacity: 0.9; font-size: 90%  }
.tag100 { opacity: 1.0; font-size: 100%  }

.tagButtons {
    font-weight: bold;
    position: relative;
    right: 0;
    float: right;
    opacity: 0.5;
}
.tagButton {
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    font-size: 125%;
}

.MetadataLine {
    opacity: 0.8;
    clear: both;
}
.MetadataLine img {
    height: 1em;
    padding-right: 0.2em;
}
/*
.MetadataLine img:hover {
    height: 2em;
}*/

#FocusTypes img {
    height: 1em;
    margin-right: 0.2em;
}

.tagSlider {
    float: right;
    width: 70%;
}
.tagSliderLabel {
    clear: both;
    float: left;
    width: 25%;
    font-weight: bold;
}

 .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
  
.trendTagLabel {
    float: left;
    width: 24em;
    clear: both;
}
.trendTagLabel img {
    height: 1em;
}
.trendTagCount {
    float: left;
    width: 6em;
}

#LoadingSplash {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: white;
	z-index:1000000;
}

#LoadingSplash h1 {
    text-align: center;
}


.ui-pnotify.stack-bottomleft {
    		bottom: 25px;
			left: 25px;
			top: auto;
			right: auto;
		}
        


#Menu {
	display: none;
}

#ViewSelect {
}
.ViewSelectNormal {
}
.ViewSelectIndented {
    padding-left: 50px;
}
#toggle-menu {
    max-width: 45px;
    cursor: crosshair;
}

#ViewSelect {
    float: left;
}
#ViewOptions {
    text-align: right;
    float: right;
    padding-top: 0.5em;
    width: 60%;
}

.FocusSection {
    padding: 0.2em;
    border-right: 5px solid rgba(125,25,0,0.5);

	-webkit-transition:background-color 0.618s ease-in;  
   -moz-transition:background-color 0.618s ease-in;  
   -o-transition:background-color 0.618s ease-in;  

}

#focusName, #focusDescription {
    width: 100%;
}
#SaveButtonWrapper {
    /* text-align: right; */
    float: right;
    margin-top: 1em;
}

.map {
    width: 100%;
    height: 200px;
}

#FocusName, #FocusDescription {
    width: 97%;
}
#FocusDescriptionSection, #FocusMapSection {
    
    
}
#FocusMapSection, #FocusUploadSection, .FocusSection {
    margin-top: 1.0em;
}


#MenuWrapper {
    margin-bottom: 1.5em;
    z-index: 500;
}
#MenuWrapper img {
    padding-right: 1.0em;
}
#ViewOptions select {
    width: auto;
}
.PropertyRemoveButton {
    float: right;
}
#MenuWrapper {
    position: fixed;
	width:100px;
}

#FocusModeSelect {
    width: auto;
    margin-top: 4px;
    padding: 1px;
}
#ui-dialog { 
	z-index:2000 !important;
}

#TypeSelectModal {
    width: 75%;
    height: 75%;
    left: auto;
    top: auto;
    padding: 1em;
    margin-left: auto;
	z-index:2000;
}
            
#TypeSelectModalTree {
    max-height: 80%;
    overflow: auto;
}
#TypeSelectModalTree button {
    margin: 1em;
}

.TagTree {
    font-size: 160%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.tagSuggestions {
    margin: 1em;
    max-height: 8em;
    overflow: auto;
}
#MatchedTypes button {
    margin: 0.2em;
    opacity: 0.5;
    font-size: 80%;
    font-variant: italic;
}
#main-menu {
	position: absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:32px;
	z-index:50000;
	background:#FFF;
}
.main-menu-open {
	margin:0;
	padding:0;
	display:block;
	z-index:50000;
	width:100%;
	height:40px;
	background:#FFF;
}
.main-menu-close {
	width:0px;
	height:0px;
}

#footer-span {position:absolute; bottom:5px; right:5px; float:right; }
#footer-brand { height:32px; width:32px; margin:5px 10px; }
#ViewSelect { float:left; margin-right:10px; }

#ontop {z-index:50000 !important; }


#DataTarget {
position: relative;
height: 100%;
width:100%;
z-index:1;
padding:0;
margin:0;
overflow: hidden;
}

#SelfTarget h1 {
font-size:20px;
margin: 5px auto;
display:block;
clear:both;
}



/*!
 * Properly formatted CSS section
 * everything above this line needs cleaning and moved below ~ @rezn8d
 */
 
 /* Global Rules */
 /* * { outline:none; } */ /* removed because it was taking ~8% of CSS processing accorindg to Chrome profiler */
body { width:100%; height:100%; margin:0px; padding:0px; overflow:hidden; font-family: Arial, sans; z-index:1; }
		.nobg { background: #000000 !important; background-image: none !important; }
		.shadow { moz-box-shadow: 0px 0px 24px #000000; -webkit-box-shadow: 0px 0px 24px #000000; box-shadow:0px 0px 24px #000000; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444'); }
		.left { float:left; }
		.right { float:right; }
	    /* Overthrow CSS:  Enable overflow: auto on elements with overthrow class when html element has overthrow-enabled class */
	    .overthrow-enabled .overthrow { overflow: auto; -webkit-overflow-scrolling: touch; }
		.overthrow-enabled #content.overthrow { height: 100%; }
		.overflow-hidden { overflow:hidden !important; }
		

 /* jQuery UI overrides */
.ui-widget-header a {color:inherit !important;}
.ui-dialog { z-index:2000 !important; }
 
 /* Loading Login Screen */
#LoadingSplash { background: url('/theme/cybernetic/p2p_banner.jpg') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed; z-index:100; width: 100%; height: 100%; position: fixed; }
	#LoadingSplash ul { margin:0;padding:0;width:100%; list-style-type:none; height:100px; } 
	#LoadingSplash ul li { float:left; outline:none; border:none; margin:0;padding:0;width:20%; list-style-type:none; text-align:center; } 
	#LoadingSplash ul li span { clear:both; font-size:.7em; display:none; width:100%; margin-bottom:10px; padding:0; } 
	#LoadingSplash ul li span:hover { display:block;clear:both; font-size:.7em; display:none; width:100%; margin-bottom:10px; padding:0; } 
	#LoadingSplash ul li img { margin:5px 0 0 0;padding:0;width:90%;height:auto; filter: gray; _filter: url(filters.svg#grayscale); -webkit-filter: grayscale(1); } 
	#LoadingSplash ul li img:hover { margin:0;padding:0;width:100%;height:auto; filter: none !important; -webkit-filter: none !important; } 
	#openid-img { width:80%;height:auto;clear:both;display:block; margin:10px auto; }
	#about-toggle { width:80%; height:auto; margin:10px auto; display:block; clear:both; }
	
#LoadingSplash2 { background-color: white; z-index:99; position: fixed; width: 100%; height: 100%; display: none; }

/* View Screen */
#View { border: none; position: fixed; top:0; right:0; bottom:0; left:0; height: 100%; width:100%; z-index: 1; clear:both; }
	#embed-frame { z-index: 1; position:relative; width:100%; height:100%; min-height:100%; max-height:100%; margin:0; outline:none; border:none; overflow:auto; background:#000; padding:0; display:block;}
	div.olMapViewport { z-index: 1 !important;; }
	div.olControlZoom { top:auto !important; bottom:8px !important; }
	.view-indented { width: 95% !important; right: 0 !important; left: auto !important; border-left: none !important; }

/* User Control Panel */
#toggle-menu {position:absolute; top:5px; left:5px; z-index:25; width: 45px; height: 45px; } 
#toggle-menu img { width: 45px; height: 45px; margin:0; } 

#ViewMenu { position: fixed; z-index:15; top:0; left:0; width:600px; margin:0; padding:0; }
	.viewmenu-container { position: relative; display:block; padding: 10px;	overflow: visible; text-align:center; }
	#AvatarButton, #AvatarButton img { width: 70px; height: 70px; margin:0; padding:0; z-index:25;} 
		#AvatarButton { position:absolute; top:0px; left:0px; margin:0px; padding:0px; }
		#AvatarButton img { border: none; cursor: crosshair; }
		#identity { display:block; clear:both; margin:5px 0px; padding:10px;}
			#logout { margin-left:5px; margin-right:5px; font-size:.8em !important; text-align:center; text-decoration:none; font-weight:lighter; }
			#logout:hover { text-decoration:underline; font-weight:bolder; }

#ViewControls {	margin:0; display:block; text-align:center; clear:both; }
	#ViewControls label {	max-width:12%; width:12%; }
	#ViewControls .ui-button-text-only .ui-button-text { padding:.3em .1em; }

#FocusEdit { text-align:center; height:auto; padding:15px; margin:0; display:block; clear:both; }
	#FocusEdit button { font-size:.8em; }
	#FocusMainMenu { clear:both; width:100%; margin:0px 0px 20px 0px; padding:0;  }
#Focus { width: 98%; border:none; margin:20px 0px; }

.jstree {  height:auto;margin:0px 0px 10px 0px;padding:10px 20px;position:relative;overflow:visible;display:block;clear:both;border:1px solid #1d1d1d; text-align:left;}
.jstree-header {  margin:0;padding:0;position:relative;overflow:visible;display:block;clear:both;text-align:center;border:1px solid #1d1d1d;font-size:14px !important;height:22px}
.jstree, .jstree input, .jstree-dnd-helper, #vakata-contextmenu { font-size:16px;  }

#expandor {position:absolute;top:1px;right:1px;}
#close-url-tree {position:relative;float:right;margin:1px 5px 1px 0px;}
#expand-url-tree {position:relative;float:right;margin:1px;}

#close-layer-tree {position:relative;float:right;margin:1px 5px 1px 0px;}
#expand-layer-tree {position:relative;float:right;margin:1px;}

.tree {  height:auto; overflow:visible; }
.jstree ul, .jstree li {  border: 0px !important; outline: 0px !important; }

#AnonymousLoginButton { display: none; }

#themeSelect {width: 250px; clear:both; font-size:1.2em; padding:3px; }

/* Grid, List View */
        .objectView { position: relative; padding: 0.25em; margin-bottom: 5px; display: block; overflow: hidden; clear: both; font-size:12px; }
	.objectGridItem { width: 300px;	height: auto; clear: none;  float: left; margin: 5px; overflow: hidden; z-index:2; }
	.ObjectViewHideButton { height:30px;   position:absolute;  bottom:-4px; left:-4px; z-index:2; opacity:0; display:inline-block; }
	.ObjectViewHideButton:hover { opacity:1; }
	.ObjectViewHideButton button { position:relative; padding:5px; margin:0px; }
	.objectView h1 { font-size: 120%; font-weight: bold;  margin: 2px 0px; z-index:2; }
	.objectView h2 { font-size: 105%; font-weight: bold; margin: 0; z-index:2; }
	.objectView h3 { font-weight: normal; color: #333; margin: 0;  z-index:2; }
	.objectView ul { list-style-type: none; margin-bottom: 0.2em; padding-left: 0; margin-left: 0; z-index:2; }
	.objectView ul li { padding: 0.3em;  font-weight: bold; z-index:2; }
	.objectView h3, .objectView p, .objectView time { padding-left: 10px; padding-top: 5px; z-index:2; }
	.objectView img { max-height: 12em;	z-index:2; }
	.MessageSubject { width: 100%; font-size: 125%;	z-index:2; }
	.MessageDescription { width: 98%; z-index:2; }
	.ObjectReply { margin:0.2em 0 0.1em 0; font-size: 80%;	z-index:2;}
	.reply-section { text-align:left; }
	.object-reply-button { padding:1px 4px !important; }
        .ObjectEditDiv button img { height: 1em; }
        
/* Chat */
        .ChatViewContent { margin-left: 1em; width: 68%; float: left; overflow: scroll; height: 85%; position: fixed; }
	.ChatViewRoster { float: right; width: 23%; padding-left: 1em; max-height: 95%; overflow: auto; right: 0; position: fixed; }
        .ChatViewInput { position: fixed; width: 68%; float: left; bottom: 0; }
        .InlineSelfButton { cursor: crosshair; border: 1px solid rgba(0,0,0,0.1); font-weight: bold; }
        
/* Team/Self Browser */
        .SelfView { width: 100%; }
	.SelfRoster { float: left; width: 25%; padding-right: 1em; max-height: 95%; position: fixed; overflow: auto; margin-top: 1em; }
	.SelfRoster .objectView { cursor: crosshair; }
	.SelfViewTags { width: 50%; float: left}
        .SelfViewTime { width: 50%; float: left; max-height: 400px; overflow-y: scroll; }
	.SelfViewContent { width: 68%; float: right; margin-right: 1em; }
	.SelfViewSide button { float: left; margin: 0.3em; }
	#Bio { width: 100%; float: left; margin-bottom: 1em; }
	#Bio button { font-size: 150%; }
	#SelfMap  { width: 40%; height: 250px; float: right; }
	.SelfCode { width: 95%; height: 90%; }
	.SelfMeta { float: left; }
	.SelfMeta input, .SelfMeta button { font-size: 150%; }
        .ui-dialog-content .WikiBrowser {
            max-height: 400px;
        }
	.WikiBrowser { height: 90%; overflow:auto; background-color: white; color: black; width: 98%; border-top: 1px solid gray; border-bottom: 1px solid gray; }
	.WikiBrowser h1 { margin-top: 0; }
	.WikiBrowser a, .WikiBrowser a:visited { border: 1px solid gray; padding: 1px; cursor: crosshair; color: black !important;}
        .WikiBrowser .hlist li {
            margin: 0;
            display: inline;
            white-space: nowrap;
        }
        .WikiBrowser .hlist {
            margin-bottom: 2em !important;
        }
        .WikiBrowser td {
            background: none !important;
        }
	.WikiTagSave { margin-top: 5px; font-size: 150%; }
        
	#BioText { border: 1px solid gray; width: 100%; height: 12em; margin-top: 1em; margin-bottom: 1em; text-align: left; }
	#Bio { text-align: right; }

        
        .SelfAddTagButton { float: right; width: auto; }
	.SelfViewButtonPanel { clear: both; padding-bottom: 2.5em; border-bottom: 1px solid gray; margin-bottom: 1.0em; }
	.SelfView textarea { width: 100%; height: 5em; }
        .SelfTimeRowHeader { width: 25%; float: left; clear: both; text-align: right; vertical-align: top; }
        .SelfTimeWantToPeriod { width: 25%; float: left; border: 1px solid gray; margin: 1px; cursor:crosshair; vertical-align: top; }
        .SelfTimeCouldDoPeriod { width: 25%; float: left;  margin: 1px; vertical-align: top; }
        .SelfTimeFilled { background-color: rgba(125,125,125,0.2); }
        .SelfTimeTagTree { max-height: 400px; overflow: scroll; } 
.nameInput { padding:3px; text-indent:15px; }

/*
*   pNotify: jquery.pnotify.default.css
* 	Version: 1.2.0. Link: http://pinesframework.org/pnotify/   
*/
.well { position: absolute; top:0px !important; right:0px !important; width:200px !important; max-width:200px !important; }
.ui-pnotify { background:#F00; position: relative; height: auto; z-index: 20000; }
.ui-pnotify.stack-bottomleft { bottom: 25px; Left: 25px; top: auto; right: auto; }
	html > body .ui-pnotify { position: fixed; /* Hides position: fixed from IE6 */ }
	.ui-pnotify .ui-pnotify-shadow { -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5); -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5); box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5); }
	.ui-pnotify-container { background-position: 0 0; padding: .8em; height: 100%; margin: 0; }
	.ui-pnotify-sharp { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
	.ui-pnotify-closer, .ui-pnotify-sticker { float: right; margin-left: .2em; }
	.ui-pnotify-title { display: block; margin: 0px; }
	.ui-pnotify-text { display: block; overflow:visible; text-wrap:normal; }
	.ui-pnotify-icon, .ui-pnotify-icon span { display: block; float: left; margin-right: .2em; }
	/* -- History Pulldown */
	.ui-pnotify-history-container { position: relative; background:#F00 !important; width: 70px; border-top: none; padding: 0; -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; /* Ensures history container is above notices. */ z-index: 9; }
	.ui-pnotify-history-container .ui-pnotify-history-header { padding: 2px; }
	.ui-pnotify-history-container button { cursor: pointer; display: block; width: 100%; }
	.ui-pnotify-history-container .ui-pnotify-history-pulldown { display: block; margin: 0 auto; }



/*!
 * less than 320 = small mobile mode 
 */

@media (max-width : 320px) {
}

/*!
 * less than 700 = mobile mode 
 */

@media (max-width : 699px) {
	
	#welcome { width:100%; margin:0px auto; clear:both; display:block; text-align:right; }
	#logout { width: 80px; margin:10px auto 0px auto; clear:both; display:block; padding:2px 5px; }
#ViewMenu, #View { width:auto !important; max-width:100% !important; min-width:100% !important; }
	#close-menu, #close-menu span {  z-index:-1; display:none;}
#ViewControls {	margin:5px 0px 10px 0px; display:block; text-align:center; clear:both; }
	#ViewControls .ui-button-text { font-size:12px; }
	#ViewControls label { width:32%; min-width:32%; max-width:32%; padding:15px 0px; -moz-border-radius:0px !important; -webkit-border-radius:0px !important; border-radius:0px !important; }
		#ViewControls label:last-of-type { position:relative; right:3px; width:95% !important; min-width:95% !important; max-width:95% !important; padding:15px 0px; -moz-border-radius:0px !important; -webkit-border-radius:0px !important; border-radius:0px !important; }
	#FocusMainMenu button { display:block; width:100%; margin:0; }
				.FocusButtonLabel { display:inline-block !important; }
				.FocusButtonIcon  { display:none !important; }
	.logon > div, .modal > div { width: 280px; }
}

@media (min-width : 700px) {
	#welcome { text-align:center; }
	#logout { position:absolute !important; top:5px; right:18px; margin:0; padding:5px 10px; moz-box-shadow: 0px 0px 12px #000000; -webkit-box-shadow: 0px 0px 12px #000000; box-shadow:0px 0px 12px #000000; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#444444'); }
#ViewMenu { width:600px; }
	#close-menu { position: absolute; top:13px; left:598px; right:auto; z-index:14; text-decoration:none;}
#ViewControls {	margin:20px 0px 10px 0px; display:block; text-align:center; clear:both; }
	#ViewControls .ui-button-text { font-size:14px; }
	#ViewControls label { padding:2px 3px; }
.logon > div, .modal > div { width: 500px; }
}


#FocusEdit {
bottom:5px;
right:5px;
text-align:center;
height:auto;
padding:15px;
margin:10px 0px;
display:block;
overflow-y: auto;
overflow-x: hidden;
}
#FocusEdit button {
font-size:.8em;
}

div.olControlZoom { top:auto !important; bottom:8px !important; }



.PluginID {
    width: 14%;
    left: auto;
    float: left;
    margin: 0.25em;
    padding: 0.25em;
    min-height: 5em;
}
.PluginSettings {
    width: 50%;
    float: right;
}
.PluginID h3 {
    font-size: 17px;
    line-height: 15px;
}
.PluginID span {
}
.PluginEnabled {
    background-color: rgba(128,255,128,0.4);
    border: 5px solid gray;
}
.PluginDisabled {
    background-color: rgba(255,128,128,0.4);
    border: 5px solid gray;
}
.PluginInvalid {
    color: gray;
    border: 5px solid #ddd;
}

#FocusMainMenu button span  {
    padding: 3px;
    margin: 0;
}
#FocusMainMenu button img {
    width: 1.5em;
    padding: 0;
}
#SaveButton span img {
    width: 2.0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

#SwitchPersonaButton img {
    margin-bottom: -5px;
}

.olControlAttribution {
    display:none !important;
}

#View, #ViewMenu, #close-menu {
    display: none;
}
.ui-pnotify {
    display: none;
}
#FocusTabs {
    font-size: 75%;
}
#Layer {
    max-height: 400px;
    overflow-y: scroll;
    text-align: left;
}
.TagLayer, .KMLLayer, .ExtLayer {
    cursor: crosshair;
}
.TagLayerInclude {
    color: #44ff44;
    opacity:1.0;
}
.TagLayerExclude {
    color: #ff4444;
    opacity:1.0;
}
.TagLayerFaded {
    opacity: 0.7;
}

.focusButton {
    width: 15px;
    height: 15px;
    cursor: crosshair;
    float: left;
}

.focusIncludeButtonActive {
    background-color: #86b226;
}
.focusExcludeButtonActive {
    background-color: #f66;
}
.focusLabel {
    
}
.focusClear {
    clear: both;
}


.logon {

    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    z-index: 10000;

    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;

    /* Hide for now */
    opacity: 100;
}

/* Show modal */

.logon > div > div { z-index:200000;
}
	
/* Content */
.logon > div {
    background: #fff;
    position: relative;
    margin: 10% auto;
	z-index:200000;
	/* Default minimise animation */
    -webkit-animation: maximise 500ms linear;
    -moz-animation: maximise 500ms linear;

    /* Prettify */
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    background: #fff;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    text-shadow: 0 1px 0 #fff;
}

/*
* Perfect Modal
* http://www.paulrhayes.com/2011-03/css-modal/
*/

/* Container */
.modal {

    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;

    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;

    /* Hide for now */
    opacity: 0;
    pointer-events: none;
}

/* Show modal */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

/* Content */
.modal > div {
    width: 500px;
    background: #fff;
    position: relative;
    margin: 10% auto;

    /* Default minimise animation */
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;

    /* Prettify */
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
    background: #fff;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    text-shadow: 0 1px 0 #fff;
}

/* Override animation on modal open */
.modal:target > div {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
}

.modal h2 {
    font-size: 36px;
    padding: 0 0 20px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -moz-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -moz-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -moz-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-moz-keyframes minimise {
  0% {
    -moz-transform: scale3d(1,1,1);
  }
  100% {
    -moz-transform: scale3d(0.1,0.1,1);
  }
}

/* Modal close link */
.modal a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
}

/* Reset native styles */
.modal a[href="#close"]:focus {
    outline: none;
}

/* Create close button */
.modal a[href="#close"]:after {
    content: 'X';
    display: block;

    /* Position */
    position: absolute;
    right: -10px;
    top: -10px;
    width: 1.5em;
    padding: 1px 1px 1px 2px;

    /* Style */
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: #000;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    }

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
    outline: 1px solid #000;
}

/* Open modal */
a.openModal {
}

a.openModal:hover,
a.openModal:focus {
}

.MapControl {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 5000;
}